footer{
	background-color: #000;
	color: #fff;
	.fotinfo{
		font-size: 12px;
	}
	.inside{
		margin: 10px 0;
	}
	ul{
		margin: 0;
		padding: 0;
	}
	.logo{
		img{
			max-height: 75px;
		}
	}
	.nav,.social{
		li{
			line-height: 75px;
			margin-right: 15px;
			a{
				line-height: 75px;
				color: #fff;
			}
		}
	}
}
.horizontal{
	li{
		display: inline-block;
		list-style: none;
	}
}

@media #{$small-up} { }
@media #{$small-only} { }

@media #{$medium-up} { }
@media #{$medium-only} { 
	footer{
		.nav,.social{
			li{
				margin-right: 5px;
			}
		}
	}
}

@media #{$large-up} { }
@media #{$large-only} { }

@media #{$xlarge-up} { }
@media #{$xlarge-only} { }

@media #{$xxlarge-up} { }
@media #{$xxlarge-only} { }