.homeslide{
	margin: 0!important;
	.slide{
		width: 100%;
		min-height: 500px;
		background-repeat: no-repeat;		
		background-size: cover;
		background-position: center top;
	}
	.slick-list{
		width: 100%;
		padding: 0 !important;
	}	
	.slick-dots{
		bottom: 25px;
		li{
			button:before{
				font-size: 15px;
				line-height: 22px;					
				color: #fff;
			}
		}

	}
}

.product-list{
	.list-avatar{
		width: 100%;
		min-height: 200px;
		background-position: center top;
		background-size: cover;
		background-repeat: no-repeat;
	}
	h3{
		font-size: 18px;
		color: #00a3e7;
		span{
			color: #000;
			font-style: italic;
		}
	}
	.text{
		color: #777;
		p,a{
			color: #777;
		}
	}
	.end{
		article{
			background-color: #fff;
			padding: 10px;
			margin-bottom: 10px;
			min-height: 310px;
			&:hover{
	  			transform: translateY(-10px);
	  		}
		}
	}
}
.red-point{
	text-align: center;
	&::after{
		content: "";
	    width: 8px;
	    height: 8px;
	    background-color: #00a3e7;
	    display: block;
	    margin-left: auto;
	    margin-right: auto;
	    margin-top: 5px;
	}
}
.highline{
	background-color: #fff;
	margin-bottom: 20px;
	padding: 20px 10px;
	h2{
		text-align: center;		
	}
}
.suctomediv{
	background-color: #fff;
	padding: 20px 10px;
	h2{
		text-align: center;		
	}
}
.inside-content{
	background-color: #fff;
	padding: 20px;
	margin: 20px auto;
}
.page{
	h1{
		font-size: 30px;
		border-bottom: 1px solid #00a3e7;
	}
}
